.container {
  width: 30px;
  height: 30px;
  padding: 3px;
  margin: 0 5px;
  border-radius: 50%;
  cursor: pointer;
  transition: all .2s;

  .innerColor {
    border-radius: 50%;
    width: 100%;
    height: 100%;
  }

  &:hover {
    padding: 0;
    border: none;
  }
}